:root {
  /** palette **/
  --primary: #ffffff;
  --necro: #673f69;
  --necro-dark: #482c49;
  --crown: #ffaf45;
  --crown-dark: #b27a30;
  --bg-primary: #111111;
  --bg-secondary: #252525;
  --font-color: #cecece;

  /** sizes **/
  --size-1: 5px;
  --size-2: 10px;
  --size-3: 15px;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;

  /** fixed sizes **/
  --gutter: 15px;
  --max-width: 1200px;
  --header-height: 65px;

  /** fonts **/
  --main-font: "Wellfleet", "monospace";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

body {
  color: var(--font-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
}

button {
  pointer-events: all;
  cursor: pointer;
  font-family: var(--main-font);
  padding: var(--size-2) var(--size-3);
  border: none;
  outline: none;
  transition: all 200ms ease-in-out;
}
